*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* user-select: none; */
}

html{
  font-size: 10px;
}

body{
  background-color:#D4F0FC;
}

/* ESTILOS SCROLL INICIO */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background-color: #D4F0FC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
  background-color: #01303F;
  border-right: 1.3px solid #D4F0FC;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(1,48,63,0.9);
  transition: 2s;
}

/* ESTILOS SCROLL FIN */


/*ESTILOS DEL HERO INICIO*/
.header{
  height: 95vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 83%);
  position: relative;
}

.back-black{
  height: 95vh;
  background-color: rgba(0,0,0,0.45);
}
.logo-box{
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.logo{
  height: 120px;
  animation: moveInLeft 0.6s ease-in;
}

.text-box{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary{
 color: #fff;
 text-transform: uppercase;
 font-family: 'Share Tech', sans-serif;
 margin-bottom: 2rem;
 font-weight: lighter;
 font-size: 50px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  80%{
    transform: translate(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
}


      /* ANIMACION PARA EL sticky navbar */
 @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  80%{
    transform: translate(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
}

/* ESTILOS DEL STICKY NAVBAR INICIO */


.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  animation: moveInRight 0.6s ease-in;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 7rem;
  right: 10rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation__background {
animation: moveInRight 0.6s ease-in;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: 9rem;
  right: 11rem;
  background-color: #02A9F7;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.circ{
  font-size: 80px;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  padding: 3px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  background-size: 220%;
  transition: all .4s;
}
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #02577A;
   }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {

  position: relative;
  margin-top: 35px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 33px;
    height: 3px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.7rem; }

.navigation__button:hover .navigation__icon::after {
  top: 0.7rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }


/* ESTILOS DEL STICKY NAVBAR FIN */

.bot{
  background-color: #fff;
  color: #02A9F7;
  width: 300px;
  height: 70px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.bot:link,
.bot:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 23px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.bot:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.bot:active{
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bot::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  transition: all .4s;
}

.bot::after{
  background-color: #fff;
}

.bot:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.bot-animated{
  animation: moveInBottom .6s ease-out .25s;
  animation-fill-mode: backwards;
}

/*ESTILOS DEL HERO FIN*/

/* ESTILOS DE ¿FLISOL? */

h1{
  font-family: 'Share Tech', sans-serif;
  color: #01303F;
  font-size: 50px;
  font-weight: lighter;
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
}

.que-es-flisol {
  display: block;
  padding: 0px 100px;
}
.que-es-flisol h1, p{
  text-align: center;
}

.que-es-flisol p{
  color: #02577A;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  margin-bottom: 100px;
  line-height: 1.5;
}


/* ESTILOS DE ¿FLISOL? */

/* ESTILOS DE LAS MAIN-CARDS INICIO */
.card-cont{
   /* background-color: yellow; */

  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card-main-content{

  width: 400px;
  height: 500px;
  display: flex;
  margin: 30px 20px;
}
.back-card{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.73);
  width: 400px;
  height: 500px;
  border-radius: 15px;
}

.main-card-section{
  color: #fff;
  width: 400px;
  padding: 5px 20px;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 0px;
  /* line-height: 1.5; */
}
.img-main-card{
  position: absolute;
  height: 500px;
  width: 400px;
  border-radius: 15px;
}
.main-card-section span{
  display: flex;
  justify-content: space-between;
  font-size: 16px!important;
  text-align: center!important;
}
.main-card-section h2{
  font-family: 'Share Tech', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
}
.main-card-section p{
  text-align:left;
  margin-top: 15px;
  font-size: 15px;
}
/* ESTILOS DE LAS MAIN-CARDS FIN */

/* ESTILOS BANDAS DE TEGISTRO INICIO */

.band-register {
  background-color: #01303F;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.band-register button {
  margin-right: 4rem;
  padding: 20px;
  border-radius: 100px;
  width: 200px;
  background-color:#fff;
  color: #02A9F7;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
}

/* ESTILOS BANDAS DE TEGISTRO FIN */

/*ESTILOS DE ACORDEON INICIO */
.wraperr{
  width: 100%;
  background-color: blue;
  height: auto;
}

.half {
  float: left;
  width: 100%;
  padding: 3em 1em;
  background-color: red;

}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 65%;
  color: #fff;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #01303F;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  line-height: 3;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #fff;
  color: #02577A;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 17px;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content div img{
  height: 100px;
  display: block;
  padding: 10px;

}

.tab-content div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.tab-content div ul{
  margin-top: 20px;
}

.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}


/*ESTILOS DE ACORDEON FIN*/

/* ESTILOS DE ORGANIZADORES INICIO */
.wrap-organizadores{
  background-color: pink;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 80px;
}
.org-person{
  padding: 30px 60px;
}

.org-person img{
  border-radius: 100%;
  margin: 0px 5px;
}

.org-person p{
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #01303F;
}

/* ESTILOS DE ORGANIZADORES FIN */

/* ESTILOS FOOTER INICIO */

footer{
  background-color: #01303F;
  color: #fff;
  font-size: 23px;
  font-family: 'Lato', sans-serif;
}
.back-itemss {
  display: flex;
  background-color: red;
  justify-content: space-around;
  padding: 40px 0px;
}
.back-itemss img{
  width: 120px;
  height: 140px;
}
.contain-follow{
  color: #01303F;
  background-color: #fff;
  padding: 15px;
  width: 200px;
  height: 70px;
  font-size: 30px;

}
.contain-follow p{
  font-family: 'Share Tech', sans-serif;
  font-weight: lighter;
}

.icons-bocs{
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.icons-bocs i{
  font-size: 60px;
}

/* ESTILOS FOOTER FIN */


/* ESTILOS DEL LOGIN - REGISTER INICIO */
.backImg{
  position: absolute;

  width: 45%;
  height: 100vh;
}

.logo-flisol{
  position: absolute;
  height: 86px;


}
.blo a{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 17px;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #D4F0FC;
  height: 100vh;
}

.container{
  width: 450px;
  margin: 0px auto;
  padding-top: 120px;
  position: absolute;
}

.signup,
.login
{
  width: 50%;
  background-color: rgba(0,0,0,0.42);
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.signup-form,
.login-form{
  background: rgba(0,0,0,0.42);
  padding: 30px 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
}

.signup-form{
  height: 420px;
  position: relative;
}

.signup-form i, .login-form i{
  position: absolute;
  padding-left: 0px;
  padding-top: 16px;
  font-size: 30px;
  color: #fff;
}

.input{
  width: 100%;
  padding: 10px 40px;
  /* padding-top: 30px; */
  box-sizing: border-box;
  margin: 15px 0px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #fff;
  transform: all 0.5s ease;
  background-color: transparent;
}

.input::placeholder{
  color: #fff;
}

.input:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
}

.btn{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background: transparent;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.btn:hover{
  transition: 0.4s;
  background-color: #fff;
  color: #000;
}

/* ESTILOS DEL LOGIN - REGISTER FIN */

/* ESTILOS DE "MIS CONFERENCIAS RECIEN CREADA LA CUENTA" INICIO */

.contain-conf-begin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.titulo{
  color: #01303F;
  font-size: 28px;
  font-family: 'Share Tech', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

.begin-conf{
  color: #01303F;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 27px;
  margin-top: 50px;
}

.btn-conferencias{
  background-color: #02A9F7;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: 200px;
  margin-top: 50px;
  cursor: pointer;
}

.btn-conferencias:hover{
  background-color: #fff;
  border: 1px solid #02A9F7;
  color: #02A9F7;
  transition: .5s;
}

/* ESTILOS DE "MIS CONFERENCIAS RECIEN CREADA LA CUENTA" FIN */

/* ESTILOS DE AÑADIR CONFERENCIAS INICIO */

.add-conf-titu{
  font-size: 40px;
  margin-top: 20px;
}

.contain-cards{
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.tarjeta-add-conf{
  width: 400px;
  background-color: #fff;
  /* border: 2px solid blue; */
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
}

.tarjeta-add-conf img{
  width: 340px;
  height: 190.922px;
}
.tarjeta-add-conf h2{
  margin: 15px 0px;
  font-size: 23px;
  font-family: 'Share Tech', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #01303F;
}
.tarjeta-add-conf p{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}

.button-cont{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.button-cont button{
  margin: 0px 30px;
}
.tarjeta-add-conf input[type="checkbox"]{
  background-color: blue;
}

/*checkbox*/


.tarjeta-add-conf input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
}

.tarjeta-add-conf input[type=checkbox] {
  display: none;
}

.tarjeta-add-conf input[type=checkbox] + label:before {
  content: "\2714";
  border: none;
  border-radius: 0.2em;
  background-color: #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  padding: 0.2em;
  padding-top: 0.1em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  font-size: 20px;
}

.tarjeta-add-conf input[type=checkbox] + label:active:before {
  transform: scale(0);
}

.tarjeta-add-conf input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

.tarjeta-add-conf input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

.tarjeta-add-conf input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/*checkbox*/


/* ESTILOS DE AÑADIR CONFERENCIAS FIN */


/* ESTILOS MIS CONF. POR ASISTIR INICIO*/

  .btn-red{
    background-color: red;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
  }

  .btn-red:hover{
    background-color: #fff;
    border: 1px solid red;
    color: red;
    transition: .5s;
  }

/* ESTILOS PARA DESABILITAR BOTONES INICIO */

  .disab{
    background-color: #02A9F7;
    opacity: 0.4;
    cursor: not-allowed;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 200px;
    margin-top: 10px;
  }
  .disab:hover{
    cursor: not-allowed;
  }


/* ESTILOS PARA DESABILITAR BOTONES INICIO FIN */


/* ESTILOS MIS CONF. POR ASISTIR FIN */



/* MEDIA QUERIES INICIO */

@media only screen and (max-width: 480px) {
  .logo{
    height: 80px;

  }
  .text-box{
    top: 43%;
  }
  .logo-box{
    left:2rem;
  }

  .bot{
     width: 230px;
     font-size: 16px;
     height: 55px;
     font-weight: bold;
     padding: 0px;
  }
  .bot:link{
    padding: 0px;
    padding-top: 18px;
  }
  .heading-primary{
    margin-bottom: 4rem;
    font-size: 30px;
  }
  .navigation__button {
    top: 5rem!important;
}

  .navigation__background {
    top: 6rem!important;
  }

}


@media only screen and (min-width: 481px) and (max-width: 768px){
  .backImg{
    width: 100%;
  }
  .logo{
    height: 90px;

  }
  .text-box{
    top: 47%;
  }
  .logo-box{
    left:3rem;
  }
  .heading-primary{
    margin-bottom: 3rem;
    font-size: 38px;
  }
  .bot{
     width: 300px;
     font-size: 21px;
     height: 65px;
  }
  .bot:link{
    padding-top:20px;
  }
}

@media only screen and (max-width: 768px){
  .backImg{
    width: 100%;
  }

  h1{
    font-size: 40px;
    margin-top: 60px;
  }

  .que-es-flisol {
    display: block;
    padding: 0px 40px;
  }

  .que-es-flisol p{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  .navigation__button {
    height: 60px;
    width: 60px;
    top: 6rem;
    right: 4rem;
  }

  .navigation__background {
    height: 40px;
    width: 40px;
    top: 7rem;
    right: 5rem;
  }

  .navigation__icon {
    margin-top: 30px;
   }

   .navigation__icon, .navigation__icon::before, .navigation__icon::after {
     height: 2.5px;
  }

}
@media only screen and (min-width: 769px) and (max-width: 920px){
  .logo{
    height: 120px;
  }
  .logo-box{
    left:3rem;
  }
  .heading-primary-main{
    font-size: 58px;
  }

  .heading-primary-sub{
    font-size: 48px;
  }
  .heading-primary{
    margin-bottom: 5rem;
  }
  .bot{
     width: 300px;
     font-size: 22px;
     height: 65px;
  }
  .bot:link{
    padding-top:20px;
  }

    h1{
      font-size: 40px;
    }

    .que-es-flisol {
      padding: 0px 70px;
    }

    .que-es-flisol p{
      font-size: 22px;
    }

    .navigation__button {
      top: 7rem;
      right: 3rem;
  }

    .navigation__background {
      height: 40px;
      width: 40px;
      top: 7rem;
      right: 5rem;
    }



}

/* MEDIA QUERIES PARA EL REGISTER */

@media only screen and (max-width: 480px){
  .backImg{
    width: 100%;
  }
}

@media only screen and (min-width: 1029px) and (max-width: 1234px){
  .backImg{
    width: 53%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px){
  .backImg{
    width: 68%;
  }
}
/* MEDIA QUERIES FIN */
